
/* This is an example of how to use google fonts.
 You don't need to do anything with this code, it is just here as a reference. 
 Notice that you include this @import line, and then you use the font-family 
 like normal everywhere else in the document. */

@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

body{

	font-family: 'Libre Baskerville', serif;

	/* Set the default font size for the body text below this 
	comment. Reference the screenshot to know what size to make 
	this text. Use "em" for font size. */

	font-size:.8em

}

/*==============Web safe fonts============*/

/* Check out this site for more web safe font families 
http://www.w3schools.com/cssref/css_websafe_fonts.asp */

/* You can make a single CSS rule apply to multiple 
elements by using a comma between each selector. The following 
rule will apply to all the headings on the page (h1-h6). */

h1, h2, h3, h4, h5, h6{

	font-family: 'Arial Black', sans serif;
	
	
}


/*==============Header============*/

/* This rule is using a decedent selector (Take a look at page 238 
in the book to learn more about decedent selectors). Use the screenshot */



header h1{

	/*Write a declaration (property: value;) below this comment 
	that will change the capitalization of the h1's font without 
	rewriting the code in the HTML. */

	text-transform: capitalize;

	/* Write a declaration (property: value;) below this comment
	 to set the font size of this h1 ("A Beekeeping Resource") using 
	 a percent. The exact percent is not provided for you in the 
	 screenshot. Try to match the size visually. */

	font-size: 150%;

	/* Write a declaration (property: value;) below this comment 
	to set the font color using a hex code. You will need to use 
	Photoshop to eyedrop this 
	
	color from the screenshot. */

	color: #8c7935;

	/* Write a declaration (property: value;) below this 
	comment to set the letter spacing of this h1 ("A Beekeeping Resource")
	 using EMs. The exact spacing is not provided for you in the screenshot. 
	 Try to match the spacing visually. */

	letter-spacing: 0.2em;

}


/*==============Main Navigation============*/

/* The following two rules effect only the <ul>s and <li>'s in the <nav>. 
The selector "nav ul" would be read, "Find all nav tags, then find any 
children that are <ul>s, and select them." These are more specific so that 
other list on the page won't be styled the same */

nav ul {

	/* Write a declaration (property: value;) below this comment to 
	change the background color of this <ul> using a hex color. You will 
	need to use Photoshop to eyedrop this color from the screenshot. */
	
	background-color: #f2cc0f;
	
	width: 20px;
	
	height: 200px;
	
	padding-top: 45px;
	
	border-style: solid;
	
	border-width: 2px;
	
	list-style-type: none;

}

nav li{

	/* Write a declaration (property: value;) below this comment to 
	change the background color of the <li>s using an rgba color. You 
	will need to use Photoshop to eyedrop this color from the screenshot. 
	This might not be exactly the same color since there is an opacity. */
	
	background-color: rgba(147,132,67,0.75);
	
	width: 220px;
	
	padding: 6px;
	
	padding-left: 30px;
	
	margin-bottom: 7px;
	
	margin-left: -8px;
	
    box-shadow: 2.5px 2.5px 2.5px black;

}






/*==============LINK STYLE============*/

/* You will need to style your links using the colors defined 
in the screenshot. Use hex codes for all of these link colors. 
You will need to make sure that the other links on this page don't 
also get styled the same. This will work very similar to how the main 
navigation selectors work above. You need to be specific. */

nav a:link {
  color: #fffea7;}
  
nav a:visited {
  color: #fffea7;}
  
nav a:hover {
  color: #fccb00;
  }
  
nav a:active {
  color: #ffffff;}




/*==============MAIN STYLE============*/

/*use the screenshot to make the appropriate changes to these elements*/

main {
	background-color: #f2cc0f;
	
	border-style: solid;
	
	border-width: 2px;
	
	padding: 30px;
	
	
}


h2{
	font-size: 14px; 
	font-style: italic;
	
	
}

div h2{
	font-size: 20px; 
	font-style: normal;
	color: #aa974a;
	
}

.headerstext {

	border-width: 1px;
	border-color:black;
	border-style: solid;
	background-color: white;
	
	display: inline-block;
	
	
	margin: 20px auto 20px auto;
	padding:10px;
	
	border-top-left-radius:80px 50px;
	border-top-right-radius:80px 50px;
	border-bottom-left-radius:80px 50px;
	-moz-border-radius-top-left-radius:80px 50px;
	-webkit-border-radius-top-left-radius:80px 50px;
}

#bees {
	padding: 30px;
	margin: 50px;
	border-width: 1px;

	background-color: #fbfdcb;
	border-style: solid;

}

#blossoms {
	padding: 30px;
	margin: 50px;
	border-width: 1px;
	overflow: scroll;
	max-height: 500px;
	
	background-color: #fbfdcb;
	border-style: solid;
	

}

#navfooter {

	display: inline;
	margin-right: 15px;
	padding: 20px;
	color: #fafcca;

}


footer {

	color: #fafcca;
	
	text-align: center;
	padding: 30px;
	margin-bottom: 30px;
	
	border-width: 1px;
	border-style: solid;
	
	background-color: #aa974a;
	
	border-bottom-right-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;

}


